@import "open-props/style";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--color-gray-1);
  color: var(--color-gray-9);
  font-family: var(--font-sans);
  font-size: clamp(14px, 2vw, 18px);
  min-height: 100%;
}

#__next {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}